.user
  .user__profile
    = image_tag @user.profile.url

  .user__box
    .user__box__name{data: {user_id: @user.id}}
      #{@user.nickname}
    .user__box__data
      .user__box__data__post
        投稿
        %br
        #{@items.length}
      
      .user__box__data__follower
        = render 'shared/followers', user: @user

      .user__box__data__post
        フォロー中
        %br
        #{@user.followings.length}

  .user__follow
    = render 'shared/follow', user: @user

.user-title
  = fa_icon "pencil-square-o"
  #{@user.nickname}の投稿

%div
  = render 'shared/items', items: @items