.follow-name__title
  フォロー中

- users.each do |user|

  .follow-name__box
    
    .follow-name__box__profile
      = link_to "/users/#{user.id}" do
        = image_tag user.profile.url

    .follow-name__box__user
      = link_to user.nickname, "/users/#{user.id}"