.header
  .header__title
    = link_to "/" do
      = fa_icon "camera"
      ItemClip
    
  - if user_signed_in?
    .header__user
      = link_to current_user.nickname, "/users/#{current_user.id}"
    .header__button
      = link_to "投稿する", "/items/new"
    .header__button
      = link_to "ログアウト", destroy_user_session_path, method: :delete

  - else
    .header__button
      = link_to "ログイン", new_user_session_path
    .header__button
      = link_to "アカウント作成", new_user_registration_path