.main
  - @items.each do |item|
    .main__item
      = link_to "/items/#{item.id}" do
        = image_tag item.image.url, class: "main__item--image"

      .main__item__profile
        = link_to "/users/#{item.user.id}" do
          = image_tag item.user.profile.url, class: "main__item__profile--image"

      .main__item__user
        = link_to item.user.nickname, "/users/#{item.user.id}"

      .main__item__comment
        = fa_icon "comment-o"
        = item.comments.length

      .main__item__heart
        - if item.iine?(current_user)
          = form_for(item.likes.find_by(user_id: current_user.id), method: :delete, remote: true) do |f|
            = fa_icon "heart-o"
            0
        - else
          = form_for(item.likes.build, remote: true) do |f|
            = fa_icon "heart-o"
            0