.main
  - @items.each do |item|
    .main__item
      = link_to "/items/#{item.id}" do
        = image_tag item.image.url, class: "main__item--image"

      .main__item__profile
        = link_to "/users/#{item.user.id}" do
          = image_tag item.user.profile.url, class: "main__item__profile--image"

      .main__item__user
        = link_to item.user.nickname, "/users/#{item.user.id}"

      .main__item__comment
        = fa_icon "comment-o"
        = item.comments.length

      .main__item__heart
        %div{class: "main__item__heart__#{item.id}"}
          = render 'shared/likes', item: item