.detail-image
  = image_tag @item.image.url

.detail-box
  .detail-box__comment
    = fa_icon "comment-o"
    0

  .detail-box__heart
    = fa_icon "heart-o"
    0

  .detail-box__profile
    = link_to "/users/#{@item.user.id}" do
      = image_tag @item.user.profile.url, class: "detail-box__profile--image"

  .detail-box__user
    = link_to @item.user.nickname, "/users/#{@item.user.id}"

  .detail-box__time
    = @item.created_at.strftime("%Y/%m/%d %H:%M")
  
  .detail-box__text
    = @item.detail

.comment-form
  = form_with model: [@item, @comment] do |f|
    = f.text_area :text
    = f.submit "コメントする"